#{extends 'main.html' /}
#{set title:'Tenant Sign Up' /}

<nav class="ui menu">
  <a class="ui active item" href="/administrators/administration">Back to Administration</a>
  <a class="ui item" href="/administrators/logout">Log Out</a>
</nav>


<section class="ui segment">
  <h3>Create a MyRent Tenant account</h3>
  <h5>Register using a valid email address</h5>
  <form action="/tenant/register" method="POST">
    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid form segment">
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input placeholder="First Name" name="tenant.firstName" type="text">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input placeholder="Last Name" name="tenant.lastName" type="text">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Email</label>
              <input placeholder="Email" name="tenant.email" type="text">
            </div>
            <div class="field">
              <label>Password</label>
              <input placeholder="Password" type="password" name="tenant.password">
            </div>
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <input id="conditions" type="checkbox">
              <label for="conditions">I agree to the terms and conditions</label>
            </div>
          </div>
          <button type="submit" class="ui blue submit button">Submit</button>
        </div>
      </div>
    </div>
  </form>
</section>