#{extends 'main.html' /}
#{set title:'Tenant Login' /}

<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui active item" href="/tenant/login">Log In</a>
  <a class="ui item" href="/contact">Contact</a>
</nav>

<section class="ui segment">
  <h3>Log into your Tenant account</h3>
  <h5>Your username is the email you registered with</h5>
  <form action="/tenant/authenticate" method="POST">
    <div class="ui two column grid">
    <div class="column">
      <div class="ui fluid form segment">
        <div class="ui left icon input field">
          <input placeholder="Email" name="email" type="text">
          <i class="user icon"></i>
        </div>
        <div class="ui left icon input field">
          <input placeholder="Password" type="password" name="password">
          <i class="lock icon"></i>
        </div>
        <button type="submit" class="ui blue submit button">Login</button>
      </div>
    </div>
    </div>
  </form>
</section>