#{extends 'main.html' /}
#{set title:'Edit Residence' /}

<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui item" href="/landlordConfig">Landlord</a>
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/landlords/logout">Log Out</a>
</nav>

<section class="ui segment">
  <h3>Please update residence data</h3>
  <form class="ui form" action="@{EditResidence.updateResidence(residence.id, rent)}" method="POST">
  <div class="ui three column grid">
    <div class="row">
      <div class="column">
        <div class="ui fluid form segment">
          <div class="ui labeled input">
            <div class="ui label">
              Eircode:
            </div>
            <input readonly value="${residence.eircode}" name="eircode" type="text"> 
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid form segment">
          <div class="ui labeled input">
            <div class="ui label">
              Monthly rent (&euro;):
            </div>
            <input value="${residence.rent}" name="rent" type="text"> 
          </div>
        </div>
      </div> 
    </div>
    <div>
      <button type="submit" class="ui blue submit button">Submit</button>
    </div>
  </div>
  </form>
</section>