#{extends 'main.html' /}
#{set title:'Edit Profile' /}

<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui item" href="/landlordConfig">Landlord</a>
  <a class="ui active item" href="/editprofile">Edit Profile</a>
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/landlords/logout">Log Out</a>
</nav>

<section class="ui segment">
  <p> Edit your profile information here ... </p>
</section>
<section class="ui form segment">
  <div class="ui two column grid">
    <div class="column">
      <div class="ui segment">
        <form action="/editprofile/changeprofile" method="POST">
          <div class="two fields">     
            <div class="field">
              <label>First Name</label>
              <input type="text" name="firstName" value="${currentUser.firstName}">
            </div>          
            <div class="field">
              <label>Last Name</label>
              <input type="text" name="lastName" value="${currentUser.lastName}">
            </div>    
          </div>
          <div class="two fields">
            <div class="field">
              <label>Address Line 1</label>
              <input type="text" name="address1" value="${currentUser.address1}">
            </div>
            <div class="field">
              <label>Address Line 2</label>
              <input type="text" name="address2" value="${currentUser.address2}">
            </div>
          </div>
          <div class="two fields"> 
            <div class="field">
              <label>City</label>
              <input type="text" name="city" value="${currentUser.city}">
            </div>
            <div class="field">
              <label>County</label>
              <input type="text" name="county" value="${currentUser.county}">
            </div>
          </div>    
          <button class="ui blue submit button">Submit</button>
          <a href="/inputdata"><button class="ui blue button">Cancel</button></a>
        </form>
      </div>
    </div>
  </div>
</section> 