#{extends 'main.html' /}
#{set title:'Charts' /}

<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui item" href="/administrators/administration">Administration</a>
  <a class="ui item" href="/adminreports">Reports</a>
  <a class="ui active item" href="/charts">Charts</a>
  <a class="ui item" href="/administrators/logout">Log Out</a>
</nav>

<section class="ui segment">
  <div class="ui two column grid">
    <div class="column">
      <div class="ui fluid form segment">
        <h4>List rents</h4>      
		    <table class="ui three column celled table segment">
		      <thead>
		        <tr>
		          <th>Landlord</th>
		          <th>Eircode</th>
		          <th>Rent</th>
		        </tr>
		      </thead>
		      <tbody>
		        #{list items:residences, as:'residence'}
		          <tr>
		            <td>${residence.landlord.firstName} ${residence.landlord.lastName}</td>
		            <td>${residence.eircode}</td>
		            <td>${residence.rent}</td>
		          </tr>
		        #{/list}
		      </tbody>
		    </table>        
      </div>
    </div>
    
    <div class="column">
      <div class="ui segment">
        <div id="chartContainer" style="width: 100%; height: 400px"></div>
      </div>
    </div>
    
  </div>
</section>
<script src="/public/javascripts/piechart.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/jquery.canvasjs.min.js" type="text/javascript" charset="utf-8"></script>