#{extends 'main.html' /}
#{set title:'Reports' /}

<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui item" href="/administrators/administration">Administration</a>
  <a class="ui active item" href="/adminreports">Reports</a>
  <a class="ui item" href="/charts">Charts</a>
  <a class="ui item" href="/administrators/logout">Log Out</a>
</nav>

<section class="ui segment">
  <h4>Report filtering</h4>
  <section class="ui segment">
    <!-- The report table -->
    <table class="ui nine column celled table segment">
      <thead>
        <tr>
          <th>Eircode</th>
          <th>Date</th>
          <th>Type</th>
          <th>Number Bedrooms</th>
          <th>Number Bathrooms</th>
          <th>Rent (&euro;)</th>
          <th>Area (m<sup>2</sup>)</th>
          <th>Landlord</th>
          <th>Tenant</th>
        </tr>
      </thead>
      <tbody>
        #{list items:residences, as:'residence'}
          <tr>
            <td>${residence.eircode}</td>
            <td>${residence.registrationDate}</td>
            <td>${residence.residenceType}</td>
            <td>${residence.numberBedrooms}</td>
            <td>${residence.numberBathrooms}</td>
            <td>${residence.rent}</td>
            <td>${residence.area}</td>
            <td>${residence.landlord.firstName} ${residence.landlord.lastName}</td>
            #{if residence.tenant != null}
                  <td>${residence.tenant.firstName} ${residence.tenant.lastName}</td>
                #{/if}
                #{else}
                  <td><font color="#FF0000">Vacant</font></td>
                #{/else}
          </tr>
        #{/list}
      </tbody>
    </table>
  </section>
  
  <div class="ui four column grid">
    <div class="row">
      <!-- byRented filter form -->
      <div class="column">
        <form class="ui form byRented" action="/adminReports/byrented" method="POST"> 
				  <div class="ui fluid form segment">       
				    <div class="ui fluid selection dropdown byRented">
				      <i class="privacy icon"></i>
				      <i class="dropdown icon"></i>
				      <input name="rentedStatus" type="hidden">
				      <span class="text">By Rented</span>
				      <div class="menu">
				        <div class="item" data-value="yes">Rented</div>
				        <div class="item" data-value="no">Vacant</div>
				      </div>    
				    </div>			   			  
					  <div class="ui fluid form segment"> 
	            <div class="form actions">
	              <button class="fluid ui blue submit button">Filter</button>
	              <div class="ui error message"></div>
	            </div>
	          </div>
					</div>			  
				</form> 
      </div>  
      <!-- byType filter form -->      
      <div class="column">
         <form class="ui form byType" action="/adminReports/bytype" method="POST"> 
           <div class="ui fluid form segment">       
             <div class="ui fluid selection dropdown byType">
               <i class="privacy icon"></i>
               <i class="dropdown icon"></i>
               <input name="residenceType" type="hidden">
               <span class="text">By Type</span>
               <div class="menu">
                 <div class="item" data-value="flat">Apartment/Flat</div>
                 <div class="item" data-value="studio">Studio</div>
                 <div class="item" data-value="house">House</div>
               </div>    
             </div>             
             <div class="ui fluid form segment"> 
              <div class="form actions">
                <button class="fluid ui blue submit button">Filter</button>
                <div class="ui error message"></div>
              </div>
            </div>            
           </div>
         </form> 
       </div>
      <!-- bysortedRent filter form -->
      <div class="column">
         <form class="ui form bySortedRent" action="/adminReports/bysortedrent" method="POST"> 
           <div class="ui fluid form segment">       
             <div class="ui fluid selection dropdown bySortedRent">
               <i class="money icon"></i>
               <i class="dropdown icon"></i>
               <input name="sortDirection" type="hidden">
               <span class="text">Rent (&euro;)</span>
               <div class="menu">
                 <div class="item" data-value="ascending">Sort (ascending)</div>
                 <div class="item" data-value="descending">Sort (descending)</div>
               </div>    
             </div>        
             <div class="ui fluid form segment"> 
              <div class="form actions">
                <button class="fluid ui blue submit button">Filter</button>
                <div class="ui error message"></div>
              </div>
            </div>     
           </div>          
         </form> 
       </div>
      <!-- All residences button -->
      <div class="column">
        <form action="/adminreports" method="GET">
           <div class="ui fluid form segment">            
             <button type="submit" class="ui blue fluid submit button">
               <i class="refresh icon"></i>
               All Residences
             </button>
           </div>
         </form>
      </div>	      
    </div>
  </div>  
</section>
<script src="/public/javascripts/adminreports.js" type="text/javascript" charset="utf-8"></script>