#{extends 'main.html' /}
#{set title:'Report Request' /}

<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui item" href="/inputdata">Input data</a>
  <a class="ui item" href="/landlordConfig">Landlord</a>
  <a class="ui active item" href="/report">Report</a>
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/landlords/logout">Log Out</a>
</nav>

<section class="ui segment">      
  <h4>Define the region for which you require a report</h4>
  <form action="/report/generateReport" method="POST">    
    Size and position circle to select region for report 
    <div id="map_canvas"></div>
    <br>
    <button type="submit" class="ui blue submit button" onclick="requestReport()">Generate Report</button>
    <div style="visibility: hidden" name="circledata" id="circledata">
      <input type="text"  id="radius" name="radius">
      <input type="text"  id="latcenter" name="latcenter">
      <input type="text"  id="lngcenter" name="lngcenter">
    </div>
  </form>
</section>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWP16uQAKeaiGyuV3ybNO7cm25FR7J208"></script>
<script src="/public/javascripts/reportmap.js" type="text/javascript" charset="utf-8"></script>