#{extends 'main.html' /}
#{set title:'Report Output' /}

<nav class="ui menu">
    <a class="ui item" href="/">Home</a>
    <a class="ui item" href="/inputdata">Input data</a>
    <a class="ui item" href="/landlordConfig">Landlord</a>
    <a class="ui active item" href="/report">Report</a>
    <a class="ui item" href="/contact">Contact</a>
    <a class="ui item" href="/landlords/logout">Log Out</a>
</nav>

<section class="ui segment">
  <h4>Report</h4>                  
  <section class="ui segment">
      <table class ="ui table segment">
          <thead>
              <tr>
                  <th>Commissioned by</th>
                  <th>Search: radius(m)</th>
                  <th>centre(latitude)</th>
                  <th>centre(longitude)</tdh>
              </tr>       
          </thead>
          <tbody>           
              <tr>
                <td>${landlord.firstName} ${landlord.lastName}</td>
                <td>${circle.radius}</td>
                <td>${circle.latcenter}</td>
                <td>${circle.lngcenter}</td>
              </tr>        
          </tbody>            
      </table> 
      <table class="ui eight column celled table segment">
          <thead>
              <tr>                    
                <th>Residence Eircode</th>
                <th>Residence Landlord</th>
                <th>Date registered</th>
                <th>Tenant</th>
                <th>Rent(&euro;)</th>
                <th>Bedrooms</th>
                <th>Bathrooms</th>
                <th>Area (m<sup>2</sup>)</th>
              </tr>
          </thead>
          <tbody>
            #{list items:residences, as:'residence'}
              <tr>
                <td>${residence.eircode}</td>
                <td>${residence.landlord.firstName} ${residence.landlord.lastName}</td>
                <td>${residence.registrationDate}</td>
                #{if residence.tenant != null}
                  <td>${residence.tenant.firstName} ${residence.tenant.lastName}</td>
                #{/if}
                #{else}
                  <td><font color="#FF0000">Vacant</font></td>
                #{/else}
                <td>${residence.rent}</td>
                <td>${residence.numberBedrooms}</td>
                <td>${residence.numberBathrooms}</td>
                <td>${residence.area}</td>
              </tr>
            #{/list}       
          </tbody>
      </table>
    </section>
  </section>