#{extends 'main.html' /}
#{set title:'Landlord Configuration' /}


<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui active item" href="/landlordConfig">Landlord</a>
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/landlords/logout">Log Out</a>
</nav>

<section class="ui segment">
  <h3>Landlord Configuration Page</h3>
  <div class="ui two column grid">
    <div class="row">
      <div class="column">
        <div class="ui fluid form segment">
          <a href="/inputdata"><button class="fluid ui blue button">Add Residence</button></a>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid form segment">
          <a href="/editprofile"><button class="fluid ui blue button">Edit Landlord Profile</button></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <form class="ui form deleteRes" action="/deleteResidence" method=POST>
          <div class="ui fluid form segment">
            <div class="ui fluid selection dropdown deleteRes">
              <input name="eircode" type="hidden">
              <div class="text">Select residence to delete</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                #{list items:landlord.residences, as:'residence'}
                  <div class="item" data-value="${residence.eircode}">
                    ${residence.eircode} 
                  </div>
                #{/list}
              </div>        
            </div>
            <div class="ui fluid form segment"> 
              <div class="form actions">
                <button class="fluid ui blue submit button">Delete Residence</button>
                <div class="ui error message"></div>
              </div>
            </div> 
          </div>       
        </form>
      </div>
      <div class="column">
        <form class="ui form editRes" action="@{EditResidence.index(residence.eircode)}" method=POST>
          <div class="ui fluid form segment">
            <div class="ui fluid selection dropdown editRes">
              <input name="eircode" type="hidden">
              <div class="text">Select residence to edit</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                #{list items:landlord.residences, as:'residence'}
                  <div class="item" data-value="${residence.eircode}">
                    ${residence.eircode} 
                  </div>
                #{/list}
              </div>        
            </div>
            <div class="ui fluid form segment">
              <div class="form actions">
                <button class="fluid ui blue button">Edit Residence</button>
                <div class="ui error message"></div>
              </div>
            </div>          
          </div>
        </form>
      </div>      
    </div>
  </div>
</section>
<script src="@{'/public/javascripts/landlordconfig.js'}" charset="${_response_encoding}"></script>