#{extends 'main.html' /}
#{set title:'Input Data' /}

<nav class="ui menu">
   <a class="ui item" href="/">Home</a>
   <a class="ui active item" href="/inputdata">Input data</a>
   <a class="ui item" href="/landlordConfig">Landlord</a>
   <a class="ui item" href="/report">Report</a>
   <a class="ui item" href="/contact">Contact</a>
   <a class="ui item" href="/landlords/logout">Log Out</a>
 </nav>
 
<section class="ui segment">       
  <!-- <form class="ui form" action="/inputdata/datacapture" method="POST"> -->
  <form class="ui form">
    <p>Please input residence data</p>
    <div class="ui two column grid">
      <div class="column">
        <div class="ui two column grid">
          <div class="row">
            <div class="column">
        <div class="ui fluid form segment">         
          <label>Location </label>          
          <div class="ui input">
            <input id = "geolocation" value="53.347298, -6.268344" name="residence.geolocation"  type="text" readonly>
          </div>               
        </div>        
            </div>
            <div class="column">
              <div class="ui fluid form segment">
                <div class="ui labeled input">
                  <div class="ui label">
                    Eircode:
                  </div>
                  <input placeholder="eg. W34 T453" name="residence.eircode"  type="text" size=1> 
                </div>
              </div>
            </div>
          </div>
        </div>              
        <div class="ui two column grid">
          <div class="row">
          <!--   The monthly rent  -->
          <div class="column">
            <div class="ui fluid form segment">
              <div class="ui labeled input">
               <div class="ui label">
                  Rent (&euro;)
                </div>  
                <input value="1500" name="residence.rent"  type="text" size="4">
             </div>
            </div>
          </div>
          <!--   The number of bedrooms  -->
          <div class="column">
            <div class="ui fluid form segment">
              <div class="ui labeled input">
                <div class="ui label">
                  Bedrooms:
                </div>   
                <input value="3" name="residence.numberBedrooms"  type="text" size=1>
             </div>
            </div>
            </div>          
          </div>
          <div class="row">
          <!--   The number of bathrooms  -->
          <div class="column">
            <div class="ui fluid form segment">
              <div class="ui labeled input">
                <div class="ui label">
                  Bathrooms:
                </div>   
                <input value="1" name="residence.numberBathrooms"  type="text" size="4">
             </div>
            </div>
          </div>
          <!--   The area of the property  -->
          <div class="column">
            <div class="ui fluid form segment">
              <div class="ui labeled input">
                <div class="ui label">
                  Area (m<sup>2</sup>):
                </div>   
                <input value="750" name="residence.area"  type="text" size=1>
             </div>
            </div>
            </div>          
          </div>          
        </div>   
        <!--   The residence type  -->    
        <div class="ui fluid form segment">
          <div class="ui selection dropdown">
            <input name="residence.residenceType" type="hidden">
            <div class="text">Residence type</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="flat">Apartment|Flat</div>
              <div class="item" data-value="studio">Studio</div>
              <div class="item" data-value="house">House</div>
            </div>
          </div> 
        </div>
        <!--   Submit form button  -->
        <div class="form-actions">
        <div class="ui fluid form segment">
          <div id="notification"></div>
        </div>
          <button type="submit" class="ui blue submit button">Submit</button>
          <div class="ui error message"></div>
        </div>
      </div>            
      <!-- end first column -->
      <!-- The map representing residence location -->
      <div class="column">     
        <div class="ui raised fluid form segment">
          <div id="map_canvas"></div>           
        </div>        
        <div class="ui raised fluid form segment">
          <div><!-- eircode iframe -->
            <iframe src="https://finder.eircode.ie/#/map" 
              width= "100%" height= "300px"></iframe>
          </div>
        </div>             
      </div>
      <!-- 2nd column -->
    </div>
    <!-- class ui two column grid --> 
  </form>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWP16uQAKeaiGyuV3ybNO7cm25FR7J208"></script>
<script src="/public/javascripts/map.js" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/inputdata.js'}" charset="${_response_encoding}"></script>     
            

