#{extends 'main.html' /}
#{set title:'Administration' /}

<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui active item" href="/administrators/administration">Administration</a>
  <a class="ui item" href="/adminreports">Reports</a>
  <a class="ui item" href="/charts">Charts</a>
  <a class="ui item" href="/administrators/logout">Log Out</a>
</nav>

<section class="ui segment">
  <div class="ui three column grid">
    <div class="column">
      <h3>Administration page</h3>
      <h4>Register Landlords and Tenants</h4>
      <div class="ui fluid form segment">
        <a href="/landlords/signup"><button class="ui fluid blue button">Register Landlord</button></a>
      </div>
      <div class="ui fluid form segment">
        <a href="/tenant/index"><button class="ui fluid blue button">Register Tenant</button></a>
      </div>     
      <form class="ui form deleteLandlord" action="/administrators/deleteLandlord" method=POST>
        <div class="ui fluid form segment">
          <div class="ui fluid selection dropdown deleteLandlord">
            <input name="id" type="hidden">
            <div class="text">Select landlord to delete</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              #{list items:landlords, as:'landlord'}
                <div class="item" data-value="${landlord.id}">
                  ${landlord.firstName} ${landlord.lastName} 
                </div>
              #{/list}
            </div>        
          </div>
          <div class="ui fluid form segment"> 
            <div class="form actions">
              <button class="fluid ui blue submit button">Delete Landlord</button>
              <div class="ui error message"></div>
            </div>
          </div> 
        </div>       
      </form>   
      <form class="ui form deleteTenant" action="/administrators/deleteTenant" method=POST>
        <div class="ui fluid form segment">
          <div class="ui fluid selection dropdown deleteTenant">
            <input name="id" type="hidden">
            <div class="text">Select tenant to delete</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              #{list items:tenants, as:'tenant'}
                <div class="item" data-value="${tenant.id}">
                  ${tenant.firstName} ${tenant.lastName} 
                </div>
              #{/list}
            </div>        
          </div>
          <div class="ui fluid form segment"> 
            <div class="form actions">
              <button class="fluid ui blue submit button">Delete Tenant</button>
              <div class="ui error message"></div>
            </div>
          </div> 
        </div>       
      </form>          
    </div>
    <div class="column">
      <div class="ui fluid form segment">
        <h5>Single click on marker to read eircode and tenant</h5>
        <div id="googleMap"></div>
      </div>
    </div>
  </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWP16uQAKeaiGyuV3ybNO7cm25FR7J208"></script>
<script src="/public/javascripts/administration.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/adminmap.js" type="text/javascript" charset="utf-8"></script>