#{extends 'main.html' /}
#{set title:'Contact' /}

<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui active item" href="/contact">Contact</a>
</nav>

<section class="ui segment">      
  <h5>We would very much appreciate if you would provide some feedback.</h5>
  <form action="/contact/sendmessage" method="POST">
    <div class="ui input field">
      <input placeholder="Your first name" name="user.firstName" type="text">
    </div>
    <div class="ui input field">
      <input placeholder="Your last name" name="user.lastName" type="text">
    </div>
    <div class="ui divider"></div>
      <div class="ui left icon input">
        <input placeholder="Your email address" name="user.email" type="text" size="30">
        <i class="user icon"></i>
      </div>
    <div class="ui divider"></div>
    <div class="ui form">
      <div class="field">
        <textarea placeholder="Your message" name="messageTxd"></textarea>
      </div>
    </div> 
    <div class="ui divider"></div>
     <button type="submit" class="ui blue submit button">Send Message</button>    
  </form>
</section>