#{extends 'main.html' /}
#{set title:'Tenancy Configuration' /}

<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui active item" href="/tenancy">Tenant</a>
  <a class="ui item" href="/tenant/logout">Log Out</a>
  <a class="ui item" href="/contact">Contact</a>
</nav>

<section class="ui segment">
  <div class="ui three column grid">
    <div class="column">
      <div class="ui fluid form segment">
        <label><b>Existing rental (eircode)</b></label>
        <div class="ui fluid form segment">                  
          #{if tenant.residence != null}
            <input readonly value="${tenant.residence.eircode}" name="eircode" type="text">
          #{/if}
          #{else}
            <input readonly value="No current rental" name="eircode" type="text"> 
          #{/else}
        </div>
      </div>
      <div class="ui fluid form segment">       
        <label><b>Click to end tenancy</b></label>
        <div class="ui fluid form segment">
          <div>
            <a href="/tenancy/terminate"><button class="fluid ui blue button">Terminate tenancy</button></a>
          </div>
        </div>
      </div>     
      <form class="ui form newRental" action="/tenancy/newrental" method=POST>
        <div class="ui fluid form segment">
          <h4>Select from vacant residences for new rental</h4>
          <div class="ui fluid selection dropdown newRental">
            <input name="eircode" type="hidden">
            <div class="text">Vacant residences</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              #{list items:vacantResidences, as:'residence'}
                <div class="item" data-value="${residence.eircode}">
                  ${residence.eircode} 
                </div>
              #{/list}
            </div>        
          </div>
          <div class="ui fluid form segment"> 
            <div class="form actions">
              <button class="fluid ui blue submit button">Change Tenancy</button>
              <div class="ui error message"></div>
            </div>
          </div> 
        </div>       
      </form>      
    </div>
    <div class="column">    
      <form action="/tenancy/tenantReport" method="POST">  
        <div class="ui fluid form segment"> 
          <div id="map_canvas"></div>
          <br>
          <button type="submit" class="fluid ui blue submit button" onclick="requestReport()">Search for vacant residences</button>
        </div> 
        <div style="visibility: hidden" name="circledata" id="circledata">
          <input type="text"  id="radius" name="radius">
          <input type="text"  id="latcenter" name="latcenter">
          <input type="text"  id="lngcenter" name="lngcenter">
        </div>        
      </form>      
    </div>
  </div>
</section>
<script src="@{'/public/javascripts/tenancy.js'}" charset="${_response_encoding}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWP16uQAKeaiGyuV3ybNO7cm25FR7J208"></script>
<script src="/public/javascripts/reportmap.js" type="text/javascript" charset="utf-8"></script>