#{extends 'main.html' /}
#{set title:'Tenant Report' /}

<nav class="ui menu">
  <a class="ui item" href="/">Home</a>
  <a class="ui item" href="/tenancy">Tenant</a>
  <a class="ui item" href="/tenant/logout">Log Out</a>
  <a class="ui item" href="/contact">Contact</a>
</nav>

  <section class="ui segment">
    <h4>Vacant residences</h4>           
         
        <section class="ui segment">
            <table class ="ui table segment">
                <thead>
                    <tr>
                        <th>Tenant</th>
                        <th>Search: radius(m)</th>
                        <th>centre(latitude)</th>
                        <th>centre(longitude)</tdh>
                    </tr>       
                </thead>
                <tbody>           
                    <tr>
                      <td>${tenant.firstName} ${tenant.lastName}</td>
                      <td>${circle.radius}</td>
                      <td>${circle.latcenter}</td>
                      <td>${circle.lngcenter}</td>
                    </tr>        
                </tbody>            
            </table> 

            <table class="ui eight column celled table segment">
                <thead>
                    <tr>                    
                      <th>Eircode</th>
                      <th>Date registered</th>
                      <th>Rent(&euro;)</th>
                      <th>Bedrooms</th>
                      <th>Bathrooms</th>
                      <th>Area (m<sup>2</sup>)</th>
                </thead>
                <tbody>
                  #{list items:residences, as:'residence'}
                    <tr>
                      <td>${residence.eircode}</td>
                      <td>${residence.registrationDate}</td>
                      <td>${residence.rent}</td>
                      <td>${residence.numberBedrooms}</td>
                      <td>${residence.numberBathrooms}</td>
                      <td>${residence.area}</td>
                    </tr>
                  #{/list}       
                </tbody>
            </table>
    </section>
  </section>